:root {
    --background-color: rgb(32, 32, 32);
    --input-background-color: rgb(16, 16, 16);
    --header-background-color: rgb(0, 0, 0);
    --text-color: rgb(255, 255, 255);
    --glow-color: rgba(255, 255, 255, 0.5);

    --font-family: "Roboto Mono";
    --font-size: 12px;
    --header-font-family: "Roboto Mono"; /* Bodoni MT */
    --header-font-size: 18px;
    --section-header-font-family: "Roboto Mono"; /* Bodoni MT */
    --section-header-font-size: 16px;
    --section-header-letter-spacing: 1px;

    --glow-radius: 4px;

    --default-padding: 4px;
    --button-padding: 12px;
    --header-padding: 12px;
    --intertab-margin: 4px;
    --button-margin: 4px;
    --navigation-bar-margin-top: 20px;
    --navigation-bar-margin-bottom: 10px;
    --section-header-margin-bottom: 20px;

    --offcanvas-width: 40%;
    --input-width: 60px;

    --border-radius: 6px;

    --transition-time: 0.5s;
    --transition-properties: all;
}





* {
    transition: var(--transition-properties) var(--transition-time);
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: var(--background-color);
    color: var(--text-color);
    text-shadow: 0 0 var(--glow-radius) var(--glow-color);
    
}

.container {
    padding-top: var(--default-padding);
}

.tab-pane {
    text-align: center;
}

.header {
    margin-left: auto;
    margin-right: auto;
    padding: var(--header-padding);
    text-align: center;
    background-image: linear-gradient(
        180deg,
        var(--header-background-color),
        var(--header-background-color),
        var(--header-background-color),
        var(--header-background-color), 
        var(--background-color));
    /* border-bottom: 2px solid white; */
}

.header-text {
    margin: 0;
    font-size: var(--header-font-size);
    font-family: var(--header-font-family);
}

.section-header {
    font-size: var(--section-header-font-size);
    font-family: var(--section-header-font-family);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: var(--section-header-letter-spacing);

    width: 80%;
    padding: var(--default-padding);
    margin: 0 auto;
    margin-bottom: var(--section-header-margin-bottom);
    
    border-bottom-style: dotted !important;
    border-bottom-width: 1px !important;
    border-bottom: var(--text-color);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.navigation-bar {
    padding: var(--default-padding);
    padding-top: var(--navigation-bar-margin-top);
    margin-bottom: var(--navigation-bar-margin-bottom);
}





.nav-link.active {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    border-bottom: none;
}





.nav-link {
    margin-left: var(--intertab-margin);
    color: var(--text-color);
}

.nav-link:hover {
    color: var(--text-color);
}





.display-hoverable {
    cursor: pointer;
}

.display-hoverable:hover {
    text-decoration: underline;
}





.offcanvas {
    color: var(--text-color);
    background-color: var(--background-color);
}

.offcanvas.offcanvas-start {
    width: var(--offcanvas-width);
}

.offcanvas-title {
    margin-left: auto;
    margin-right: auto;
    font-size: var(--section-header-font-size);
    font-weight: bold;
    letter-spacing: var(--section-header-letter-spacing);
}

.offcanvas-close {
    color: var(--text-color);
    background-color: var(--background-color);
    border: none;
    margin-left: calc(var(--font-size) * -4);
}





.btn-close {
    margin-left: 0 !important;
}





th, td {
    text-align: center;
    background-color: var(--background-color) !important;
}

table {
    background-color: var(--background-color) !important;
}

input[type="number"] {
    background-color: var(--input-background-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border: none;
    border-bottom: 1px var(--text-color) solid;

    color: var(--text-color);
    text-align: center;
    width: var(--input-width);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.button-default {
    background-color: var(--input-background-color);
    color: var(--text-color);

    padding: var(--default-padding) var(--button-padding);
    margin-bottom: var(--button-margin);

    border: 1px var(--input-background-color) solid;
    border-radius: var(--border-radius);
}

.button-default:hover {
    border: 1px var(--text-color) solid;
}





.flex-even-width {
    flex: 1 !important;
}