:root {
    --dark-background-color: rgb(32, 32, 32);
    --dark-color: rgb(255, 255, 255);
    --dark-glow-color: rgba(255, 255, 255, 0.5);
    --dark-header-background-color: rgb(0, 0, 0);

    --font-family: "Franklin Gothic";
    --font-size: 14px;
    --header-font-family: "Bodoni MT";
    --header-font-size: 20px;

    --glow-radius: 4px;

    --default-padding: 4px;
    --intertab-margin: 4px;
    --navigation-bar-margin-top: 20px;
}





body {
    font-family: var(--font-family);
    font-size: 14px;
}

.container {
    padding-top: var(--default-padding);
}

.header {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: var(--default-padding);
    text-align: center;
    font-family: var(--header-font-family);
}

.header p {
    margin: 0;
}

.navigation-bar {
    padding: var(--default-padding);
    padding-top: var(--navigation-bar-margin-top);
}





.dark-mode {
    background-color: var(--dark-background-color);
    color: var(--dark-color);
    text-shadow: 0 0 var(--glow-radius) var(--dark-glow-color);
}

.dark-mode .header {
    background-color: var(--dark-header-background-color);
    border-bottom: 2px solid var(--dark-color);
}

.dark-mode .nav-link.active {
    background-color: var(--dark-background-color) !important;
    color: var(--dark-color) !important;
}





.nav-link {
    margin-left: var(--intertab-margin);
    color: var(--dark-color);
}

.nav-link:hover {
    color: var(--dark-color);
}

.nav-link.active {
    border-bottom: none;
}